* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.header img {
  width: 130px;
}

.list li {
  list-style-type: none;
  display: inline-block;
  margin-right: 15px;
  margin-top: 13px;
}

.user {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.file {
  width: 45%;
  margin-top: 60px;
}

.image1 {
  width: 40%;
  height: 400px;
  background-image: url(../images/illustration-1.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.all {
  font-size: 40px;
}

.fylo,
.email,
.get {
  margin-top: 15px;
}

.fylo {
  font-size: 22px;
}

.email {
  width: 330px;
  padding: 10px;
}

.get {
  width: 180px;
}

.get,
.data button {
  width: 200px;
  padding: 10px;
  background-color: blue;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.parent {
  width: 100%;
  margin-top: 90px;
}

.hero {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-around;
  background-color: #f9f8fe;
}

.info {
  width: 40%;
  height: 650px;
}

.stay,
.never,
.securely,
.see {
  margin-top: 30px;
}

.stay {
  font-size: 30px;
}

.never,
.securely,
.see {
  font-size: 17px;
}

.see {
  display: inline-block;
  color: rgb(0, 128, 111);
  cursor: pointer;
}

.info hr {
  width: 180px;
}

.person {
  width: 400px;
  height: 230px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: white;
  margin-top: 40px;
}

.quote {
  margin-top: 20px;
}

.improved {
  font-size: 20px;
  margin-top: 10px;
}

.kyle {
  display: flex;
}

.kyle img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 20px;
}

.information {
  margin: 25px 20px;
}

.image2 {
  width: 45%;
  height: 400px;
  background-image: url(../images/illustration-2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 90px;
}

.access {
  width: 100%;
  height: 280px;
  display: flex;
  background-color: #575989;
}

.getEarly,
.data {
  width: 40%;
  height: 220px;
  padding: 40px;
  color: white;
}

.getEarly h2 {
  margin-top: 3rem;
}

.getEarly p {
  font-size: 18px;
  margin-top: 20px;
}

.data {
  margin-top: 3rem;
}

.data input {
  display: block;
  width: 350px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.data button {
  width: 200px;
  margin-top: 20px;
}

/* footer not foot */
.footer {
  width: 100%;
  background-color: #07043b;
  padding-block: 5rem;
}

.footer-wrapper {
  max-width: 1400px;
  margin-inline: auto;
}

.footer-logo {
  width: 130px;
  margin-bottom: 2rem;
}

.footer-logo img {
  width: 100%;
  object-fit: contain;
}

.footer-details {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

.phoneIcon,
.emailIcon {
  display: flex;
  gap: 0.5rem;
  color: white;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

.footer-links li {
  color: white;
  list-style-type: none;
  transition: all 0.3s ease-in-out;
}

.footer-links li:hover {
  text-decoration: underline;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  gap: 1rem;
}

.icon {
  width: 35px;
  height: 35px;
  border: 1px solid white;
  border-radius: 50%;
  padding: 0.5rem;
}

.icons img {
  width: 100%;
  object-fit: contain;
  cursor: pointer;
  filter: invert(1);
}

@media (max-width: 767px) {
  .header {
    padding: 20px;
  }
  .user {
    display: flex;
    flex-direction: column-reverse;
  }

  .access {
    display: flex;
    flex-direction: column;
  }

  .image1,
  .file {
    width: 100%;
  }

  .all {
    text-align: center;
    font-size: 33px;
  }

  .fylo {
    text-align: center;
    font-size: 18px;
  }

  .email,
  .get {
    width: 100%;
    padding: 10px;
  }

  .image2 {
    width: 100%;
    position: absolute;
  }

  .info {
    width: 100%;
  }

  .stay {
    font-size: 25px;
    margin-top: 35rem;
  }

  .never,
  .securely {
    font-size: 23px;
  }

  .see,
  .info hr {
  }

  .person {
  }

  .access {
    width: 100%;
    height: 500px;
  }
  .getEarly {
    width: 100%;
  }
  .getEarly h2 {
    font-size: 25px;
    text-align: center;
  }

  .getEarly p {
    font-size: 23px;
    text-align: center;
  }

  .data input,
  .data button {
    width: 300px;
    padding: 15px;
  }
}
